
.wrapper {
 display:block;
 overflow:hidden;
 position:relative;
 width:100%
}
.wrapper .container {
 max-width:80rem
}
.wrapper>.container {
 padding-bottom:7.5rem;
 padding-top:7.5rem
}
.header {
 background-color:#f4f5f6;
 padding-top:1rem
}
@media(min-width:40rem) {
 .header {
  padding-top:5rem
 }
}
.header+section {
 border-top:0
}
.header .container {
 border-top:0;
 padding-bottom:7.5rem;
 padding-top:7.5rem;
 position:relative;
 text-align:center
}
.header .title {
 font-family:Gotham Rounded A,Gotham Rounded B,Helvetica Neue,Arial,sans-serif
}
.header .img {
 height:15rem;
 margin-bottom:2rem
}
.header .img path {
 animation:7s a forwards;
 fill:#9b4dca;
 stroke:#9b4dca;
 stroke-dasharray:38321;
 stroke-miterlimit:10;
 stroke-width:15px
}
.header .button {
 margin-bottom:4rem;
 margin-top:2rem
}
@media(min-width:40rem) {
 .header .button {
  margin-bottom:4rem;
  margin-top:2rem
 }
}
@keyframes a {
 0% {
  fill-opacity:0;
  stroke-dashoffset:38321
 }
 25% {
  fill-opacity:0;
  stroke:#9b4dca
 }
 to {
  fill-opacity:1;
  stroke-dashoffset:0
 }
}
.footer {
 padding:8rem 0 2rem
}
.footer .copyright {
 padding-right:6rem
}
.navbar {
 margin-bottom: 10px;
}

.navbar ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #606c76;
}

.navbar li {
 float: left;
 margin-bottom: 0;
}

.navbar li a {
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

.navbar li a:hover {
 background-color: #ab5dda;
}